backports.functools-lru-cache==1.4
beautifulsoup4==4.6.0
certifi==2024.7.4
chardet==3.0.4
cycler==0.10.0
idna==3.7
matplotlib==2.1.1
numpy==1.22.0
pandas==0.22.0
pymongo==4.6.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.32.4
six==1.11.0
subprocess32==3.2.7
urllib3==1.26.19
